.circulo{
	width: 250px;
	height: 250px;
	border-radius: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	-ms-border-radius: 250px;
	-o-border-radius: 250px;
	display: inline-block;
}
.color_1{
	background:pink;
}
.color_2{
	background:orange;
}
.color_3{
	background:purple;
}
.color_4{
	background:cyan;
}
.color_5{
	background:magenta;
}
.tamano_1{
	/*transform:scale(.5);
	-webkit-transform:scale(.5);
	-ms-transform:scale(.5);
	-moz-transform:scale(.5);
	-o-transform:scale(.5);*/
	width: 20px;
	height: 20px;
}
.tamano_2{
	/*transform:scale(2);
	-webkit-transform:scale(2);
	-ms-transform:scale(2);
	-moz-transform:scale(2);
	-o-transform:scale(2);*/
	width: 40px;
	height: 40px;
}
.tamano_3{
	/*transform:scale(3);
	-webkit-transform:scale(3);
	-ms-transform:scale(3);
	-moz-transform:scale(3);
	-o-transform:scale(3);*/
	width: 50px;
	height: 50px;
}
.tamano_4{
	/*transform:scale(4);
	-webkit-transform:scale(4);
	-ms-transform:scale(4);
	-moz-transform:scale(4);
	-o-transform:scale(4);*/
	width: 70px;
	height: 70px;
}
.tamano_5{
	/*transform:scale(5);
	-webkit-transform:scale(5);
	-ms-transform:scale(5);
	-moz-transform:scale(5);
	-o-transform:scale(5);*/
	width: 80px;
	height: 80px;
}